.container5{
    display: flex;
    justify-content: center;
}
.con5-rec-box{
    width: 50rem;
    height: 6rem;
    border:0.1rem solid rgba(123,164,53,255);
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(123,164,53,255);
    margin-top: 1rem;
}
.con5-rec-text {
    color:white;
    margin-left: 1.8rem;
}
.con5-rec-text h1{
    margin-bottom: 0.2rem;
    font-size: 1rem;
}
.con5-rec-text p{
    font-size: 0.7rem;
}
.enter-mail{
    width: 25rem;
    height: 2.7rem;
    margin:0 1rem 0 4rem;
    border:0.1rem solid rgba(123,164,53,255);
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color:white;
}
.enter-mail p{
    color:#a4a6c0;
    padding-right: 4rem;
    font-size: 0.8rem;
}
.subscribe{
    background-color: rgba(0,15,46,255);
    color:white;
    border-radius: 0.2rem;
    height:1.8rem;
    width: 6rem;
    font-size: 0.6rem;
    margin-left:2.5rem;
}
.arrow{
    font-size: rem;
}