<div class="list list1" id="Departments">
    <h4>Departments</h4>
    <li *ngFor="let dept of departments" (click)="clickDept($event)">{{dept}}
    </li>
</div>
<div class="list list2" id="offices">
    <h4>Offices</h4>
    <li *ngFor="let office of offices" (click)="clickOffice($event)">{{office}}</li>
</div>
<div class="list list3" id="jobtitles">
    <h4>Job Titles</h4>
    <li *ngFor="let jobs of jobTitles" (click)="clickJob($event)">{{jobs}}</li>
    <div *ngIf="isShow">
        <li class="mr-4" *ngFor="let morejobs of moreJobs">{{morejobs}}</li>
    </div>
    <li class="text-primary " (click)="viewContent()"  *ngIf="!isShow"><b>view more</b></li>
    <li class="text-primary "  (click)="viewContent()"  *ngIf="isShow"  ><b>view less</b></li>
</div>