*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background-color: rgb(3, 3, 64);
}
.nav{
    display: flex;
    background-color: #021124; 
    width: 100vw;
    height: 8vh;
    padding-top: 10px;
    padding-right: 40px;
    color: white;
    text-align:center;
    cursor: pointer;
    flex: 1;

}
nav ul li{
    list-style: none;
    display: inline-block;
    text-align: left;
}
.nav .centre li{
    list-style: none;
    margin: 0px 23px;
    font-size: 20px;
    color: rgb(248, 250, 248);
    text-align:center;
}
.nav .centre button{
    background-color: green;
    border-radius: 6px;
    height: 30px;
    width: 60px;
    border-color: green;
    cursor: pointer;
}
.nav .right li{
    align-items: right;
}
.nav .right button{
    background-color: green;
    border-radius: 6px;
    height: 30px;
    width: 70px;
    border-color: green;
    cursor: pointer;
}



.section-1{
    display:flex;
    justify-content: space-between;
}
.class-body{
    padding-right: 20px;
    padding-left: 100px;
}
.card-text{
    color: green;
    font-size: 12px;
    margin: 15px;
    padding-top: 40px;
    padding-right: 20px;
    padding-left: 250px;
}
.card-title{
    color:white;
    margin: 15px;
    padding-left: 250px;
}
.card-text-para{
    margin: 15px;
    padding-right: 20px;
    font-size: 12px;
    padding-left: 250px;
    color: white;
}
.playnow{
    background-color: green;
    border-radius: 6px;
    height: 30px;
    width: 80px;
    border-color: green;
    cursor: pointer;
    align-items: center;
}
.section-2{
    display:flex;
    justify-content: space-between;
}
.class-body2{
    padding-right: 202px;
    padding-left: 100px;
}
.card-text2{
    color: green;
    font-size: 12px;
    margin: 15px;
    padding-top: 50px;
    padding-right: 500px;
}
.card-title2{
    color:white;
    margin: 15px;
    padding-right: 100px;
}
.card-text-para2{
    margin: 15px;
    padding-right: 202px;
    font-size: 12px;
    color: white;
}
.upcmg{
    text-align: center;
    padding-top: 50px;
    color: white;
}
.card{
    display: grid;
    margin: 0 auto;
    width: 114px;
    grid-gap: 6px;
    align-items: start;
}
.card-item{
    border-radius:0.4px;
    overflow:hidden;
    cursor: pointer;
    transition: 0.2px;
    grid-template-columns: repeat(aut0-fit,minmax(30px, 1fr);
    border: 1px solid white;
    width: 300px;
    height: 100px;  
    padding: 50px;
}
.card31{
    border: 1px solid white;
    width: 300px;
    height: 100px;  
    padding: 50px;
}
.card-item:hover{
    transform: translateY(0.5%);
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
  }
  
.grid-container{
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }


