<div class="list list1" id="Departments">
    <h4>Departments</h4>
    <li *ngFor="let dept of deptCount | keyvalue" id="departmentId" (click)="clickDept(dept.key)" data-value="{{dept.key}}">{{dept.key}} ({{dept.value}})
    </li>
</div>
<div class="list list2" id="offices">
    <h4>Offices</h4>
    <li *ngFor="let office of officeCount| keyvalue"  id="officetId" (click)="clickOffice(office.key)" >{{office.key}} ({{office.value}})</li>
</div>
<div class="list list3" id="jobtitles">
    <h4>Job Titles</h4>
    <li *ngFor="let jobs of jobsCount |keyvalue"  id="jobtitleId" (click)="clickJob(jobs.key)" >{{jobs.key}} ({{jobs.value}})</li>
    <div *ngIf="isShow">
        <li class="mr-4" *ngFor="let morejobs of moreJobs |keyvalue">{{morejobs.value}} ({{morejobs.key}})</li>
    </div>
    <li class="text-primary " (click)="viewContent()"  *ngIf="!isShow"><b>view more</b></li>
    <li class="text-primary "  (click)="viewContent()"  *ngIf="isShow"  ><b>view less</b></li>
</div>